# PostgreSQL
POSTGRES_DB=photo_classifier
POSTGRES_USER=psc_user
POSTGRES_PASSWORD=psc_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_USER=psc_user
RABBITMQ_PASSWORD=psc_password
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# MinIO
MINIO_ROOT_USER=psc_admin
MINIO_ROOT_PASSWORD=psc_admin_password
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=photos
